---
"caravan-coordinator": patch
"@caravan/wallets": patch
---

Add Coldcard manual multisig address verification support.
