services: 
  bitcoind: 
    image: lncm/bitcoind:v27.0
    container_name: caravan_e2e_bitcoind
    ports:
      - "18443:18443"
    command: >
      -server
      -regtest
      -rpcuser=${BITCOIN_RPC_USER}
      -rpcpassword=${BITCOIN_RPC_PASSWORD}
      -rpcbind=0.0.0.0:18443
      -rpcallowip=0.0.0.0/0
      -fallbackfee=0.0002
      -minrelaytxfee=0.00000001
      -debug=1
      -printtoconsole=1
      -disablewallet=0
    env_file:
      - .env
    healthcheck:
      test: ["CMD", "bitcoin-cli", "-regtest", "-rpcuser=${BITCOIN_RPC_USER}", "-rpcpassword=${BITCOIN_RPC_PASSWORD}", "getblockchaininfo"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - caravan-e2e

  nginx:
    image: nginx:alpine
    container_name: caravan-e2e-nginx 
    ports: 
      - "8080:8080"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on: 
      bitcoind:
        condition: service_healthy
    networks:
     - caravan-e2e
  
  caravan:
    build:
      context: ../../../
      dockerfile: apps/coordinator/Dockerfile
      target: runner
    container_name: caravan_coordinator
    ports:
     - "5173:80"
    environment:
      - NODE_ENV=production
    depends_on:
      bitcoind:
        condition: service_healthy
      nginx: 
        condition: service_started
    networks:
      - caravan-e2e
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:80"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    restart: unless-stopped
    
networks:
  caravan-e2e:
    driver: bridge

    
